
.myjumbo{
  justify-content: center;
  padding : 3.5%;
  text-align: center;
}


.mainimg{
  height: 650px;
}

.profileimg{
  border-radius: 50%;
  width: 30%;
}

.heading{
  color:indigo;
}

.lowecard{
  padding: 1%;
  text-align: center;
  margin: 2%;
}

.right{
  margin: 2%;
  padding: 4%;
}